{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<h2>Hallintapaneeli</h2>
<a href={{ url_for('user_list') }}>Käyttäjät</a> <br />
<a href={{ url_for('create_task') }}>Lisää tehtävä</a> <br />
<a href={{ url_for('create_instruction') }}>Lisää ohje</a> <br />
<a href={{ url_for('reorder') }}>Järjestä tehtävät</a>
<h2>Lähetykset</h2>
<table>
<thead>
  <tr>
    <th>aika</th>
    <th>lähettäjä</th>
    <th>tehtävä</th>
    <th>lisätiedot</th>
  </tr>
</thead>
<tbody>
  {% for result in results %}
  <tr>
    <th>{{ result[1][3].strftime("%m/%d/%Y, %H:%M:%S") }}</th>
    <th>{{ result[1][5] }}</th>
    <th>{{ result[1][4] }}</th>
    <th>
      <a href={{ url_for('admin_result', result_id=result[1][0]) }}>>></a>
    </th>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
