<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <nav>
    <div class="header">
      <h1>Regex trainer</h1>
    </div>
    <ul>
      <li><a href="/" class="link_btn">Kotisivulle</a></li>
      {% if get_status() >= 2 %}
        <li><a href={{ url_for('admin') }} class="link_btn">Hallintapaneeli</a></li>
      {% endif %}
      {% if get_username() %}
        <li><span class="login_text">Kirjautunut käyttäjänimellä <b class="username">{{ get_username() }}</b></span></li>
        <li><a href="{{ url_for('logout') }}" class="link_btn">Kirjaudu ulos</a></li>
      {% else %}
        <li><a href="{{ url_for('register') }}" class="link_btn">Rekisteröidy</a></li>
        <li><a href="{{ url_for('login') }}" class="link_btn">Kirjaudu sisään</a></li>
      {% endif %}
      
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
    <br />
  </section>
</body>

