{% extends 'base.html' %}

{% block title %}
Muokkaa tehtävää - {{ task[1] }}
{% endblock %}
{% block content %}
<h2>Muokkaa tehtävää: {{ task[1] }}</h2>
<form action={{ url_for('edit_name', task_id=task[0]) }} method="post" onsubmit="window.confirm('Oletko varma?')">
  Tehtävän nimi: <input type="text" name="name" value="{{ task[1] }}">
  <input type="submit" value="Muuta">
</form>
<form action={{ url_for('edit_description', task_id=task[0]) }} method="post" onsubmit="window.confirm('Oletko varma?')">
  <label for="description">Tehtävänanto (voit käyttää html-tägejä sekä code-tägiä):</label>
  <br />
  <textarea id="description" name="description" rows="10" cols="100">{{ task[2] }}</textarea>
  <br />
  <input type="submit" value="Muuta">
</form>
<h3>Testit</h3>
<div>
  <form action={{ url_for('edit_tests', task_id=task[0]) }} method="post">
    <label for="accept">Merkkijonot, jotka lausekkeen tulisi hyväksyä:</label>
    <br />
    <textarea id="accept" name="accept" rows="7" cols="50">{{ accept }}</textarea>
    <br />
    <label for="reject">Merkkijonot, jotka lausekkeen tulisi hylätä:</label>
    <br />
    <textarea id="reject" name="reject" rows="7" cols="50">{{ reject }}</textarea>
    <br />
    <input type="submit" value="Muuta">
  </form>
</div>
<a href={{ url_for('task_info', task_id=task[0]) }}>Julkiseen näkymään</a>
{% endblock %}