{% extends 'base.html' %}

{% block title %}
{{ task[1] }}
{% endblock %}

{% block content %}
<h1>{{ task[1] }}</h1>
<p>{{ task[2] | safe }}</p>
<h3>Esimerkkejä</h3>
<p>Lausekkeen tulisi hyväksyä seuraavat merkkijonot</p>
<div> <!-- TODO add some style-->
  {% for s in accept %}
    <code>{{s}}</code> <br />
  {% endfor %}
</div>

<p>Lausekkeen tulisi hylätä seuraavat merkkijonot</p>
<div> <!-- TODO add some style-->
  {% for s in reject %}
    <code>{{s}}</code> <br />
  {% endfor %}
</div>

{% if get_status() >= 1 %}
  <form action={{ url_for('task_info', task_id=task[0]) }} method="post"> 
    Vastaus: <input type="text" name="answer">
    <input type="submit" value="Lähetä">
  </form>
  <a href={{ url_for('results', task_id=task[0]) }}>Palautukset</a>
{% else %}
  <p>Kirjaudu sisään, jotta voit lähettää vastauksen</p>
{% endif %}
<a href={{ url_for('task_view') }}>Tehtävälistalle</a>
{% endblock %}
