{% extends 'base.html' %}

{% block title %}
{{ task[1] }}
{% endblock %}

{% block content %}
<h1>Väärin</h1>
<p>Lausekkeesi tuotti väärän tuloksen merkkijonolla </p> <code>{{ test }}</code> <br />
{% if status == 1 %}
Lausekkeen olisi pitänyt hyväksyä merkkijono, mutta se hylkäsi sen.
{% else %}
Lausekkeen olisi pitänyt hylätä merkkijono, mutta se hyväksyi sen.
{% endif %}
<br />
<a href={{ url_for('task_info', task_id=task[0]) }} class="index_btn link_btn">Takaisin tehtävään</a>
<a href={{ url_for('task_view') }} class="index_btn link_btn">Tehtävälistalle</a>
{% endblock %}
